<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR CODE VALIDATOR</title>
</head>

<body style="background-color: skyblue">
    <h2 style="color: darkblue">
        <div style="text-align: right">LOGIN</div>
    </h2>

    <h1 style="color: blue">QR CODE<br />VERIFICATION</h1>

    <font size="5">
        <p>
            If you’re printing QR codes, you need to ensure they’re constructed
            correctly.<br />
            You can do this many ways but a free barcode generator works well.<br />
            After creating your code, you will need QR code verification (also known
            as QR code check).<br />
            These codes are required to be measured in several ways, including
            the<br />
            corner finder patterns, alignment patterns, and clock tracks, as well as
            several checks in the data region.<br />
            code usage is increasing rapidly. In June 2011 alone, more than 14
            million mobile<br />
            users scanned a QR code. If a QR Code cannot be scanned,<br />
            your marketing dollars and time are wasted. To ensure that the code is
            scannable,<br />
            you need a QR code verifier (aka QR code checker).
        </p>
    </font>
    <img src="qrimg.jpg" alt="QR code scanner" width="400px" height="400px">
</body>

</html>